.table-wrapper {
    height: 600px;
    overflow: auto;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-right {
    display: flex;
    gap: 10px;
}

.table {
    width: 100%;
}

.table-head {
    position: sticky;
    top: 0px;
    background-color: white;
}