.table-wrapper {
  height: 600px;
  overflow: auto;
  position: relative;
}

.table-scroll-area {
  position: relative;
}

.spacer {
  width: 1px;
}

.table-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.table {
  width: 100%;
  background: white;
}

.table-head {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}
